<div class="hero-unit">
	<h1>Welcome to One Month Rails!</h1>
	<p>
		You've found the home page for
		<%= link_to "Johnny Chang's Blog", "http://johnnychang.com/blog/" %>.
	</p>
	<p>
		<%= link_to "Read it now!", "#", class:"btn btn-success btn-large"%>
	</p>
</div>
